.about-subtitle {
    color: var(--color-red);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.photo {
    width: 100%;
    max-width: 35vw;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.social .header-menu {
    justify-content: center;
}

.description {
    overflow-y: auto;
    padding: 0 1rem 0 2rem;
    border-left: 1px solid var(--color-border);
}

.description p {
    text-align: justify;
}

.paypal-form {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
}

.btn-paypal {
    background: linear-gradient(-45deg, var(--color-red), var(--color-orange));
    border-radius: 0.25rem;
	padding: 0.6125rem 1rem;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 0 1px #00000013, 0 1px 3px #00000020;
	font-size: 1.125rem;
	font-weight: 400;
	border: none;
	font-family: var(--font-nunito);
    margin-top: 1rem;
}

.btn-paypal:hover{
	background: var(--color-red);
}

.btn-paypal i {
    padding-right: 1rem;
}