.aboutMe-content {
    justify-content: flex-start;
}

.description {
    align-self: flex-start;
    align-items: center;
    text-align: justify;
    justify-content: center;
    align-content: flex-start;
    text-align: justify;
}

.photo {
    display: block;
    width: 17rem;
    max-width: 80%;
    padding: 1 rem;
    margin: auto;
    align-self: center;
}

.description .header-menu {
    justify-content: center;
}

.about {
    padding: 0 1rem;
    border-left: 1px solid var(--color-grey);
}

.link {
    color: var(--color-blue);
    text-decoration: none;
    font-weight: 500;
}

.link:hover {
    color: var(--color-green);
    text-decoration: none;
}

.about-title {
    align-self: flex-start;
    margin: 0;
    padding-bottom: 1rem;
    font-family: var(--font-mont);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--color-red);
}

.about-subtitle {
    color: var(--color-red);
    font-weight: 400;
    font-size: 1.6rem;
    margin: 1.2rem 0 0.8rem 0;
}

.about-text {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6rem;
}

.paypal-form {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}
