/* ---------------------- ASIDE ------------------------ */
.aside {
	max-height: 100vh;
	background-color: var(--bg-sidebar);
	font-family: var(--font-nunito);
	font-size: 0.875rem;	
}

.title-container {
	display: flex;
	justify-content: center;
	border-right: 0.0625rem solid var(--color-border);
}

.logo{
	height: 3rem;
	margin: 0.625rem;
}

.aside-container {
	height: calc(100vh - 4.25rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	border-right: 0.0625rem solid var(--color-border);
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}
	.list li {
		background-color: var(--bg-sidebar-nav);
	}

	.list-link {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		cursor: pointer;
	}

		li a, 
		li .span {
			color: var(--color-white);
			font-weight: 400;
			line-height: 2.5rem;
			padding: 0 1.5rem;
			border-top: 0.0625rem solid var(--color-border);
			border-right: 0;
			border-bottom: 0.0625rem solid var(--color-border);
			border-left: 0.375rem solid transparent;
			text-decoration: none;	
			transition: 0.3s ease all;
		}

		li .span {
			width: 100%;
		}

		li a:hover, 
		li .span:hover {
			color: var(--color-blue);
			border-top: 0.0625rem solid transparent;
			border-bottom: 0.0625rem solid transparent;
			border-left: 0.375rem solid var(--color-blue);
		}

		li a span {
			position: absolute;
			right: 1.5rem;
			transition: .2s all ease;
		}

		li.show a span {
			transform: translateX(-50%) rotate(-180deg);
			color: var(--color-blue);
		}

		li a p {
			padding: 0 2rem 0 1rem;
			margin: 0;
		}

		.sub-list {
			list-style: none;
			display: none;
			margin: 0;
			padding: 0;
		}

		.sub-list a, 
		.sub-list .span {
			display: block;
			line-height: 2rem;
			font-weight: 400;
			text-align: center;
			cursor: pointer;
		}
		
		.sub-list-title {
			display: none;
		}
/* ---------------- LIST ACTIVE -------------- */
li.list-active a, li.list-active ul li.list-active a  {
    color: var(--color-blue);
	border-top: 0.0625rem solid transparent;
	border-bottom: 0.0625rem solid transparent;
	border-left: 0.375rem solid var(--color-blue);
}

li.list-active ul li a {
	color: var(--color-white);
	border-top: 0.0625rem solid var(--color-border);
	border-left: 0.375rem solid transparent;
	border-bottom: 0.0625rem solid var(--color-border);
}


/* ----------------DROPDOWN MENU ------------------ */
.show ul, .aside-footer {
	display: block;
}

/* ------------ ICONS ------------- */
.dropdown .sub-list .span {
	background-color: var(--bg-sidebar-nav);
}

.dropdown .sub-list .span:disabled, 
.dropdown .sub-list .span:hover:disabled {
	cursor: default;
	border-left: 0.4rem solid var(--color-blue);
	color: var(--color-white);
	background-color: var(--color-grey);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.menu-bar {
	display: none;
}

