.selector {
	align-self: end;
	display: flex;
    justify-content: flex-end;
}

.selector .day-btn {
	display: flex;
	justify-content: end;
}

.selector .day-btn button {
	margin-left: 1rem;
	border-radius: 0.25rem;
	padding: 0.6125rem 1rem;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 0 1px #00000013, 0 1px 3px #00000020;
	font-size: 1rem;
	font-weight: 400;
	border: none;
	font-family: var(--font-nunito);
	background-color: var(--color-blue);
}

.day-btn button:hover{
	transition: .3s ease all;
	background-color: #fff;
	color: var(--color-blue);
}

.day-btn button:disabled {
	cursor: default;
	border: 1px solid var(--color-grey);
	background-color: var(--color-grey);
	color: #fff;
}


.select {
    display: flex;
    justify-content: end;
}

.select select {
	padding: 0.5rem 1rem;
    font-size: 1rem;
	font-weight: 400;
    font-family: var(--font-nunito);
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
	border: none;
	box-shadow: 0 0 1px #00000013, 0 1px 3px #00000020;
    border-radius: 0.25rem;
}

.select option, .select select:hover {
    background-color: #ffffff;
}
