.selector {
	align-self: end;
}

.selector .day-btn {
	display: flex;
	justify-content: end;
}

.selector .day-btn button {
	margin-left: 1em;
	border-radius: 4px;
	padding: 0.6em 1em;
	color: #fff;
	cursor: pointer;
	border: 0 solid rgba(0,0,0,.125);
	box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
	font-size: 1.1em;
	font-weight: 300;
	font-family: var(--font-nunito);
	background-color: var(--color-blue);
}

.day-btn button:hover{
	transition: .3s ease all;
	background-color: #fff;
	color: var(--color-blue);
}

.day-btn button:disabled {
	cursor: default;
	border: 1px solid var(--color-grey);
	background-color: var(--color-grey);
	color: #fff;
}