.card {
	background-color: var(--bg-cards);
	color: var(--color-white);
	padding: 1rem;
	align-self: stretch;
	font-family: var(--font-mont);
	border-radius: 0.25rem;	
	box-shadow: 0 0 1px #00000013, 0 1px 3px #00000020;
}

.card-title, .card-text, .card-subtitle, .card-subtext, .card-icon {
	margin: 0;
	padding: 0;
} 

.card-title, .card-subtitle {
	font-weight: 400;
	font-size: 1rem;
}

.card-text {
	font-size: 1.6rem;
	font-weight: 700;
}

.card-subtext {
	font-size: 1.4rem;
	font-weight: 700;

}

.card-icon {
	align-self: center;
	font-size: 2rem;
}

.stats .card-title,
.stats .card-subtext,
.vaccine-content .card-title,
.vaccine-content .card-subtext {
	line-height: 2rem;
	margin: 0 0.25rem;
}


/* ----------------- CARD BACKGROUND COLOR ----------------------- */
.summary-content .cases{ background-color: #dd6c3770; }
.summary-content .deaths{ background-color: #c9637970; }
.summary-content .recovered{ background-color: #5a928b70; }
.summary-content .test{ background-color: #4f7a9970; }


