.credits-description {
    padding: 1rem 2rem 1rem 1rem;
    overflow-y: auto; 
    border-right: 1px solid var(--color-border);
}

.credits-description .title {
    line-height: 3rem;
}

.credits-description .subtitle {
    text-align: justify;
}

.credits {
    text-align: justify;
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;
    align-content: flex-start;
}

.credits-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.credits-image img {
    display: block;
    width: 100%;
    max-width: 50vw;
    align-self: center;
}

.icon {
    padding: 0 1rem;
    color: var(--color-red);
}

.first {
    padding-top: 0.7rem;
}

