/* ------------ GRID LAYOUT -------------- */
.grandparent-container {
	display: grid;
    width: calc(100vw - (100vw - 100%));
    grid-template-columns: 12.5rem auto;
    grid-template-areas: 
	"aside parent-container"
	;
}

.aside { 
	grid-area: aside;
    width: 12.5rem;
	height: 100vh;
    position: sticky;
    top: 0; 
}

.parent-container { 
	width: 100%;
	grid-area: parent-container;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
}

/* ------------ NESTED GRIDS -------- */
.container,
.header-content,
.summary-content,
.lineChart-content,
.map-content, 
.vaccine-content, 
.aboutMe-content,
.credits-content {
	margin: auto;
	display: grid;
	grid-gap: 1.5em;
}

.container {
	width: calc(100% - 3rem);
    height: 100vh;
	padding: 1.5rem 1.5rem 0 1.5rem;
    grid-template-rows: auto auto 4.5rem;
    grid-template-areas: 
	"container-title"
    "content"
    "footer"
	;
}

.container-title { grid-area: container-title; }
.footer { grid-area: footer; }

.content {
	width: 100%;
	height: calc(100vh - 16rem);
	grid-area: content;
	align-content: center;
}

/* ------------ HEADER CONTENT -------------- */
.header-content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  	
	"header-text     img-header"                				
	;
}

.header-text { 	grid-area: header-text; }
.img-header { 
	grid-area: img-header; 
	height: calc(100vh - 16rem);
}


/* ------------ SUMMARY CONTENT (World, Continents and Countries)-------------- */
.summary-content {
    grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: auto auto 6rem;
    grid-template-areas:  	
	"cases         		deaths				piechart"                			
	"recovered			test				piechart"  
	"stats				stats				stats"	           			
	;
}

.summary-content .cases { grid-area: cases; }
.summary-content .deaths { grid-area: deaths; }
.summary-content .recovered { grid-area: recovered; }
.summary-content .test { grid-area: test; }
.summary-content .piechart { grid-area: piechart; }
.summary-content .stats { grid-area: stats; }

.summary-card {
	align-items: center;
	display: grid;
	grid-gap: 0.5rem;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:  	
	"card-title         	card-title"                			
	"card-text				card-text"  
	"card-subtitle			card-icon"	  
	"card-subtext			card-icon"	         			
	;
}

.card-title { grid-area: card-title; }
.card-text { grid-area: card-text; }
.card-subtitle { grid-area: card-subtitle; }
.card-subtext { grid-area: card-subtext; }
.card-icon { grid-area: card-icon; }

.piechart {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  	
	"chart1 chart2"    		
	;
}

.chart1 { grid-area: chart1; }
.chart2 { grid-area: chart2; }

.chart-child {
	display: grid;
    grid-template-areas:  	
	"card-title"
	"card-subtext"
	;
}

.card-title { grid-area: card-title; }
.card-subtext { grid-area: card-subtext; }


/* ------------ LINE CHART CONTENT (Cases and Deaths)-------------- */
.lineChart-content {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
    grid-template-areas:  	
	"lineChart1     	lineChart2"                			   			
	;
}

.lineChart-content .lineChart1 { grid-area: lineChart1; }
.lineChart-content .lineChart2 { grid-area: lineChart2; }


/* ------------ WORLD MAP CONTENT (Cases and Deaths -absolute and per million-)-------------- */
.map-content {
	grid-template-columns: 3fr 5fr;
    grid-template-rows: 100%;
    grid-template-areas:  	
	"mapText     	worldMap"                			   			
	;
}

.map-content .worldMap { grid-area: worldMap; }
.map-content .mapText { 
	grid-area: mapText;
	overflow-y: auto; 
}

/* ------------ WORLD VACCINES DATA CONTENT -------------- */
.vaccine-content {
	grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 6rem;
    grid-template-areas:  
	"lineChart1     	lineChart2"
	"totalVac     		dailyVac"                 			   			
	;
}

.vaccine-content .lineChart1 { grid-area: lineChart1; }
.vaccine-content .lineChart2 { grid-area: lineChart2; }
.vaccine-content .totalVac { grid-area: totalVac; }
.vaccine-content .dailyVac { grid-area: dailyVac; }

/* ------------ ABOUT ME CONTENT -------------- */
.aboutMe-content {
	width: fit-content;
	height: calc(100vh - 15.5rem);
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2.5rem auto 2.5rem;
    grid-template-areas:  	
	"about-title	about-title" 
	"photo			description" 
	"social			description"        				
	;
}

.aboutMe-content .photo { grid-area: photo; }
.aboutMe-content .social { grid-area: social; }
.aboutMe-content .about-title { grid-area: about-title; }
.aboutMe-content .description { grid-area: description; }

/* ------------ CREDITS CONTENT -------------- */
.credits-content {
	width: fit-content;
	height: calc(100vh - 15.5rem);
    grid-template-columns: 6fr 4fr;
    grid-template-rows: repeat(2 auto);
    grid-template-areas:  	
	"credits-description	credits-image"				
	;
}

.credits-description { grid-area: credits-description; }
.credits .credits-image { grid-area: credits-image; }