header .container-title {
	height: 7rem;
}

.header-text { 	
	padding: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 1.5rem;
}

.header-menu {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.header-menu li{
	list-style: none;
	margin: 0 1rem;
}

.header-menu li a{
	background: linear-gradient(-45deg, var(--color-red), var(--color-orange));
	padding: 0.8rem 1rem;
    border: none;
	border-radius: 100%;
    transition: opacity 0.3s;
}


.header-menu li a:hover{
	background: var(--color-red);
	padding: 0.8rem 1rem;
    border: none;
	border-radius: 100%;
}

.header-menu li a i, .header-menu li a:hover i {
	color: #ffffff;
	background: var(--color-red);
}

.img-header {
	width: 100%;
	max-width: 50vw;
	margin: auto;
	align-self: center;
}

.main-title {
	margin: 0;
	width: 100%;
	font-size: clamp(2.3rem, 1vw, 2.75rem); 
	font-weight: 500;
	align-self: flex-end;

}
 .main-title span, .main-subtitle span {
	margin-right: 0.2rem;
 }

 .main-title .highlight {
	 border-bottom: 0.25rem solid var(--color-orange);
 }

.main-subtitle {
	margin: 0;
	width: 100%;
	text-align: justify;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.5rem;
	align-self: flex-start;
}


.main-subtitle .highlight {
	color: var(--color-orange);
	font-weight: 500;
}