/* --------- LIGHT-DARK MODE ----------- */
.dark {
	display: flex;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	flex-wrap: nowrap;
	padding: 0.5rem 1rem 0.5rem 1rem;
	align-items: center;
}

/* -------- TEXT ----------- */
.mode-text {
	border: none;
	padding-left: 1rem;
}

.dark:hover .mode-text, 
.dark.light-mode:hover .mode-text {
	color: var(--color-blue);
}

.dark.list-active .mode-text {
	color: var(--color-white);
}

.mode-text:hover {
	border: none;
}

/* ---------- ICONS ----------- */
.dark .moon,
.dark .moon:hover,
.dark.light-mode .sun,
.dark.light-mode .sun:hover {
	display: block;
	color: #fff;
	padding: 0.8rem;
	border-radius: 50%;
	z-index: 5;
	transition: opacity 0.3s;
}

.dark .moon {
	background: -webkit-linear-gradient(-45deg, var(--color-green), var(--color-blue));
}

.dark.light-mode .sun {
	background: -webkit-linear-gradient(-45deg, var(--color-red), var(--color-orange));
}

.dark.light-mode .sun:hover {
	background: var(--color-red);
	color: #ffffff;
}

.dark .moon:hover {
	background-color: var(--color-green);
	color: #ffffff;
}

.dark.light-mode .moon, 
.dark.light-mode .moon:hover, 
.dark .sun, 
.dark .sun:hover {
	display: none;
}


/* ------- PERSONALIZE STYLES --------- */
.light {
    --bg-sidebar: #ffffff20;
    --bg-sidebar-nav: #ffffff10;
    --bg-cards: #ffffff25;
    --bg-body: #0a0c0c;
    --color-white: rgb(216, 215, 214);
    --color-border: #8b868020;
}