/* --------- LIGHT-DARK MODE ----------- */

.aside-footer .list .dark {
	display: flex;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.aside-footer .list .dark a {
	width: 100%;
	text-align: center;
	border-left: none;
	border-top: none;
}

.aside-footer .list .dark .mode {
	padding: 0;
	text-align: center;
}

.aside-footer .dark span .sun {
	padding: 0.8em;
	background: -webkit-linear-gradient(-45deg, var(--color-red), var(--color-orange));
	border-radius: 50%;
	color: #fff;
	margin-right: 1.2em;
	margin-top: 0.5em;
	z-index: 5;
}

.aside-footer .dark span .sun:hover {
	background: var(--color-red);
}

.aside-footer .list .dark:hover a {
	color: var(--color-blue);
}

.aside-footer .list .dark.list-active a {
	color: var(--color-white);
}

.aside-footer .list .dark.light-mode:hover a {
	color: var(--color-blue);
}


.aside-footer .dark span .moon {
	background-color: var(--bg-sidebar-nav);
	color: var(--bg-sidebar-nav);
	margin-left: 1.7em;
	border-radius: 50%;
	padding: 0.8em;
	margin-top: 0.5em;
	z-index: -1;
}

.aside-footer .dark span .moon:hover {
	background-color: var(--bg-sidebar-nav);
}

.aside-footer .dark .moon:hover {
	background-color: var(--color-green);
}

.aside-footer .dark.light-mode span .sun {
	background: var(--bg-sidebar-nav);
	color: var(--bg-sidebar-nav);
	z-index: -1;
}

.aside-footer .dark.light-mode span .sun:hover {
	background: var(--bg-sidebar-nav);
}

.aside-footer .dark.light-mode span .moon {
	background: -webkit-linear-gradient(-45deg, var(--color-green), var(--color-blue));
	color: var(--color-white);
	z-index: 5;
}

.aside-footer .dark.light-mode span .moon:hover {
	background: var(--color-green);
}

.light {
	--bg-sidebar: #eff1f1;
	--bg-cards: #ffffff;
    --bg-sidebar-nav: #f1f5f5;
	--bg-body: #f6f8f9;
    --color-white: #000000;
	--color-border: rgba(0, 0, 0, 0.12);

}