html {
/* ------------------------ COLORS ---------------------------- */
    --bg-sidebar: #cdcfd3;
    --bg-sidebar2: #b4cad8;
    --bg-sidebar-nav: #ffffff20;
    --bg-cards: #ffffff;
    --bg-body: #dbdbdb;
   
    --color-grey: #a8a8a8;
    --color-white: #000000;
    --color-blue: #4f7a99;
    --color-green: #5a928b;
    --color-light-green: #87E4A3;
    --color-yellow: #c4944d;
    --color-orange: #dd6c37;
    --color-red: #c96379;
    --middle-grey: #8b8680;
    --color-border: #00000020;

/* ------------------------ FONTS ---------------------------- */
    --font-nunito: 'Nunito', sans-serif;
    --font-mont: 'Montserrat', sans-serif;

    scroll-behavior: smooth;
    font-size: clamp(14px, 1vw, 16px);
}


/* -------------------------- BODY --------------------------- */
body {
    background-color: var(--bg-body);
    color: var(--color-white);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ---------------------- DISPLAY ---------------------------- */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* ----------------- BORDERS ----------------------- */
.border-bottom { border-bottom: 1px solid var(--color-border); }


/* ----------------------- TEXT ------------------------------ */
.title, 
.subtitle {
    width: 100%;
    display: block;
    color: var(--color-white);
	margin: 0;
}

.title {
	font-size: clamp(1.6rem, 1vw, 2rem); 
	font-weight: 500;
    line-height: 2.5rem;
}

.subtitle {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 2rem;
}

.subtitle span {
    margin-right: 0.2rem;
}

.subtitle .highlight {
	font-weight: 600;
	color: var(--color-orange);
}

.link {
    color: var(--color-blue);
    text-decoration: none;
    font-weight: 500;
}

.link:hover {
    color: var(--color-green);
    text-decoration: none;
}

/* ----------------- TEXT COLOR STYLES ----------------------- */
.text-blue { color: var(--color-blue); }
.text-green { color: var(--color-green); }
.text-light-green { color: var(--color-light-green); }
.text-yellow { color: var(--color-yellow); }
.text-orange { color: var(--color-orange); }
.text-red {	color: var(--color-red); }