.scroll-footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.arrow-scroll {
	align-self: center;
	text-align: center;


}
.arrow-scroll__wrap {
	display: inline-block;
	transition: all ease-in-out 0.3s;
	cursor: pointer;

}

.arrow-scroll__wrap a {
	text-decoration: none;
	border: none;
}

.arrow-scroll i {
	display: block;
	font-size: 3rem;
	line-height: 2rem;
	background: -webkit-linear-gradient(-45deg, #E20C2280 , #d6570380);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.arrow-scroll i:hover {
    background: -webkit-linear-gradient(-45deg, var(--color-red), var(--color-orange));
    -webkit-background-clip: text;
}

.arrow-scroll i.transparent {
	background: transparent;
	color: transparent;
	cursor: default;
}

/* --------- SCROLL-BAR STYLES ------------ */

.scroll::-webkit-scrollbar {
    width: 10px;
}
   
.scroll::-webkit-scrollbar-thumb {
    background: var(--color-grey);
    border-radius: 20px;
}
  
.scroll::-webkit-scrollbar-track {
    background: #dbdbdb;
    border-radius: 20px;
}