table {
  font-family: var(--font-nunito);
  font-size: 1em;
  font-weight: 300;
  background: #c9cbcf12;
  max-width:100%;
  border-spacing:0;
  width:100%;
  margin:0.5rem 0;
  border: 0.0625rem solid #c9cbcf;
  border-collapse:separate;
}

table th,
table td {
  padding: 0.5rem;
  line-height:1rem;
  text-align:left;
  border-top:0.0625rem solid #c9cbcf;
}

table th {
  font-size: 1rem;
  background: #c9cbcf50;
  font-weight:400;
  vertical-align:bottom;
}

table td {
  vertical-align:top;
}

table thead:first-child tr th,
table thead:first-child tr td {
  border-top:0;
}

table tbody + tbody {
  border-top: 0.125rem solid #c9cbcf;
}

table th + th,
table td + td,
table th + td,
table td + th {
  border-left:0.0625rem solid #c9cbcf;
}

table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top:0;
}



