/* ------- STATS CARD ----------- */
.statsMillion {
	font-size: 1.5rem;
	font-weight: 400;
	text-align: start;
	line-height: 2rem;
	margin: auto;
	padding: 0 1vw;
}

.stats-chart {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0 1vw;
	align-self: stretch;
}

.chart-child {
	text-align: center;
	align-items: center;
}




